<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/perfil foto.png"class="img-fluid">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <style>h1{color: white;}</style><h1 id="Nombre">Cristian Gabriel Romero</h1>
        <style>h3{color:white;}</style><h3>Full Stack Developer Jr</h3>
    </div>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1> Acerca De Mí</h1>
            <style>h4{color:white} ;</style><h4>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Exercitationem quibusdam ullam asperiores minima eveniet eos esse illo numquam, fuiat uam temora uae, nihil id necessitatibus cororis, sunt cula totam odio.</h4>
        </span>
    </div> 
       

