<div class="row">
    <style>h1{color: white};</style><h1>Experiencia Laboral</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
    
<ul>  
<li><h1>Trabajo I </h1> - <style>h3{color: white;}</style><h3>(Years)</h3>
 <style>h4{color: white};</style><h4> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nemo quas asperiores minus, fuga quis eveniet eaque quae repudiandae sed unde perferendis molestiae illum quod maxime reprehenderit natus sapiente perspiciatis. Enim?</h4></li>
</ul>

<ul>  
    <li><h1>Trabajo II </h1> - <style>h3{color: white;}</style><h3>(Years)</h3>
     <style>h4{color: white};</style><h4> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nemo quas asperiores minus, fuga quis eveniet eaque quae repudiandae sed unde perferendis molestiae illum quod maxime reprehenderit natus sapiente perspiciatis. Enim?</h4></li>
    </ul>
    <ul>  
        <li><h1>Trabajo III </h1> - <style>h3{color: white;}</style><h3>(Years)</h3>
         <style>h4{color: white};</style><h4> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nemo quas asperiores minus, fuga quis eveniet eaque quae repudiandae sed unde perferendis molestiae illum quod maxime reprehenderit natus sapiente perspiciatis. Enim?</h4></li>
        </ul>

        <ul>  
            <li><h1>Trabajo IV </h1> - <style>h3{color: white;}</style><h3>(Years)</h3>
             <style>h4{color: white};</style><h4> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nemo quas asperiores minus, fuga quis eveniet eaque quae repudiandae sed unde perferendis molestiae illum quod maxime reprehenderit natus sapiente perspiciatis. Enim?</h4></li>
            </ul>
    </div>
</div>
