.container{
    display: flex;
    justify-content: space-between;
    align-content: flex-start;
}
    
       

#APLogo{ background-color: blue;
    width: 150px;
}
img{ 
    width:50px ;
background-color: blue;
}

    
 